.wrapper {
  scroll-margin-top: 84px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.productGrid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}

.mainImageWrapper {
  width: 200px;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainImageBox {
  width: 200px;
  height: 200px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.mainImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
}

.thumbnailGrid {
  display: grid;
  grid-template-rows: repeat(4, 45px);
  grid-auto-flow: column;
  gap: 7px;
}

.thumbnailWrapper {
  width: 45px;
  height: 45px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #ccc;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.selected {
  border: 2px solid #228be6;
}

.cardTitle {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: #555;
}
